.footer {
  @media screen and (max-width: 1200px) {
    text-align: center;
  }
  .logo {
    display: block;
    margin-bottom: 20px;
    padding: 0;

    color: #ffffff;
  }
  .footer-tablet-container {
    @media screen and (min-width: 769px) {
      display: flex;
    }
    @media screen and (min-width: 769px) and (max-width: 1200px) {
      justify-content: space-around;
      align-items: flex-start;
    }
  }
}
footer {
  @media screen and (min-width: 1201px) {
    .container {
      display: flex;
    }
  }
  display: block;
  padding-top: 60px;
  padding-bottom: 60px;

  background: #2f303a;
  .social-links {
    padding-top: 0;
    padding-bottom: 0;
  }
  .social-links a {
    background-color: rgba(255, 255, 255, 0.1);
    fill: #ffffff;
  }
}
address {
  @media screen and (max-width: 768px) {
    text-align: center;
    margin-bottom: 60px;
  }
  p {
    margin-bottom: 8px;

    font-size: 14px;
    letter-spacing: 0.03em;
    font-style: normal;
    color: #ffffff;
  }

  a {
    font-size: 14px;
    letter-spacing: 0.03em;
    font-style: normal;
    color: rgba(255, 255, 255, 0.6);
  }
  .address-mail {
    margin-bottom: 8px;
    display: block;
  }
}
.join-webs h3,
.footer-form label {
  padding-top: 12px;
  margin-bottom: 20px;

  font-size: 14px;
  letter-spacing: 0.03em;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;

  color: #ffffff;
  // @media screen and (max-width: 1200px) {
  //   text-align: center;
  // }
}
.join-webs {
  @media screen and (min-width: 1201px) {
    margin-left: 70px;
    margin-bottom: 0;
  }
}
.footer-form {
  @media screen and (max-width: 1200px) {
    margin-top: 60px;
  }
  margin-left: auto;
  margin-right: 0;

  label {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
.form-subs {
  @media screen and (min-width: 1201px) {
    display: flex;
  }
  .btn {
    @media screen and (max-width: 1200px) {
      margin-right: auto;
      margin-left: auto;
      margin-top: 20px;
    }

    display: block;
    display: flex;
    align-items: center;

    .airplane-icon {
      margin-left: 10px;
      width: 24px;
      height: 24px;
    }
  }
  .footer-email {
    // display: flex;
    // justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
    width: 100%;
    max-width: 450px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;

    font-size: 16px;
    letter-spacing: 0.03em;
    line-height: 1.25;

    color: rgba(255, 255, 255, 0.6);
    background-color: #2f303a;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

    @media screen and (min-width: 1200px) {
      margin-right: 12px;
      width: 358px;
    }
  }
}
