.backdrop {
  position: fixed;

  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  background: rgba(0, 0, 0, 0.2);

  @extend %transition;

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}
.data-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.data-modal-close {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);

  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  @extend %transition;

  &:hover,
  &:focus {
    fill: $main-color;
    cursor: pointer;
  }
  .close-black {
    height: 18px;
    width: 18px;
  }
}
.modal-form {
  padding: 40px;

  * {
    display: block;
  }
  h3 {
    text-align: center;
    margin-bottom: 12px;
  }
  .comment {
    resize: none;
    width: 448px;
    height: 120px;

    padding: 12px 16px;
    margin-bottom: 20px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;

    font-family: Roboto;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);

    @extend %transition;

    &:hover,
    &::focus {
      border: 1px solid $main-color;
      cursor: pointer;
    }
  }
  label {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: #757575;

    padding-bottom: 4px;
  }
  .modal-input {
    margin-bottom: 10px;
    padding: 0;
    padding-left: 42px;
    width: 100%;
    height: 40px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    @extend %transition;
  }
  .modal-input:hover,
  .modal-input:focus {
    border: 1px solid $main-color;
    cursor: pointer;
  }
  .btn-modal {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 10px 56px;
    box-sizing: border-box;
  }
  .modal-agreement {
    display: flex;
    align-items: center;
    padding: 0;

    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 1.71;

    color: #757575;
  }
}
.form-field {
  position: relative;

  &:hover .input-icon,
  &:focus-within .input-icon {
    fill: $main-color;
  }
  .input-icon {
    position: absolute;
    display: inline-block;

    top: 50%;
    left: 12px;
    transform: translateY(-50%);

    width: 18px;
    height: 18px;

    @extend %transition;
  }
}
.modal-agreement {
  .icon-check {
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 1px solid #212121;
    border-radius: 2px;
    margin-right: 8.38px;

    @extend %transition;
  }
  a {
    margin-left: 4px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration-line: underline;

    color: $main-color;
  }
}
.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  &:checked + .icon-check {
    background-image: url(../img/icon-check.svg);
    background-size: contain;
    background-color: $main-color;
    border-color: $main-color;
    background-origin: border-box;
  }
}
