.specials {
  @media screen and (min-width: 769px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  padding-top: 60px;
  padding-bottom: 60px;
  h2 {
    display: none;
  }
  h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;

    @media screen and (max-width: 480px) {
      text-align: center;
    }
  }
  p {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: #757575;
  }
}
.specials-list {
  @media screen and (min-width: 481px) {
    display: flex;
  }
  .item {
    display: block;
    width: 100%;
    @media screen and (min-width: 769px) {
      width: 270px;
    }
  }
  .item:not(:last-child) {
    margin-right: 30px;
    @media screen and (max-width: 480px) {
      margin-right: 0;
      margin-bottom: 30px;
    }
  }
  .item::before {
    content: "";
    display: block;
    background-color: #f5f4fa;
    height: 120px;
    width: 100%;
    margin-bottom: 30px;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: center;
  }
  .antena::before {
    background-image: url(../img/antenna1.svg);
  }
  .clock::before {
    background-image: url(../img/clock1.svg);
  }
  .diagramma::before {
    background-image: url(../img/diagram1.svg);
  }
  .astranavt::before {
    background-image: url(../img/astronaut1.svg);
  }
}
